h1 {
  font-size: 3rem;
}

main h2 {
  font-size: 2.1rem;
}

.sort {
  top: -20px;

  .material-symbols-outlined {
    font-size: 1.5rem;
  }
}

.products-list {
  margin-top: 20px;
}

.product {
  grid-column: span 3;
  font-size: 1.2rem;

  input {
    width: 60%;
    font-size: 1rem;
  }
    
  img {
    height: 50%;
  }
    
  h3 {
    font-size: 1.2rem;
  }

  .decrease, .increase {
    font-size: 1rem;
  }
}

.selector span {
  font-size: 1.1rem;
}

.place-order label,
.place-order input,
.payment-option,
.payment-option input {
  font-size: 1.15rem;
}

.personal-id-label input {
  width: 140px;
}