main h2 {
   font-size: 1.5rem;
   display: block;
   text-align: center;
   padding-bottom: 5px;
}

.sort .material-symbols-outlined {
   font-size: 1rem;
}

.sort-price, .sort-rating, .sort-alpha, .sort-category {
   padding-left: 3px;
   padding-right: 3px;
}

.product {
   grid-column: span 6;
   margin-bottom: 50px;
   font-size: 1rem;

   input {
      width: 50%;
   }

   img {
      width: 90%;
      height: 48%;
   }

   h3 {
      font-size: 1.3rem;
   }

}

.place-order {
   font-size: 1rem;

   label span {
      width: 90px;
   }

   .payment-option {
       width: 241px;
   }

   .approve-info span {
       width: 217px;
   }

   .newsletter span {
       width: 217px;
   }
}

address {
   a {
       padding-left: 40px;
       padding-bottom: 10px;
       font-size: 1rem;

       .material-symbols-outlined {
           left: 20px;   
       }
   }    
}
