@media screen and (min-width: 375px) {
    @import "_mobile";
}

@media screen and (min-width: 767px) {
    @import "_tablet";
}

@media screen and (min-width: 1024px) {
    @import "_desktop";
}

* {
    box-sizing: border-box;
}

img {
    border: 4px solid green; //ta bort senare
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: "Merienda", sans-serif;
    font-size: 2rem;
}

.cart {
    padding: 10px;
    background-color: rgb(255, 245, 171);
}

main h2 {
    display: inline;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.product {
    justify-items: center;
    text-align: center;
}

.sort {
    position: relative;
    display: flex;
    justify-content: end;
    bottom: 25px;
}

.price, .rating {
    margin-inline: 5px;
}

footer {
    background-color: burlywood; //ta bort senare
}

.place-order {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    justify-items: center;
    font-size: 1rem;
    padding-bottom: 20px;

    label {
        justify-items: center;
        row-gap: 10px;

        span {
            display: inline-flex;
        }
    }

    .payment-option {
        display: flex;
    }

}

address {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: blanchedalmond;

    a {
        display: flex;
        color: black;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        font-style: normal;

        .material-symbols-outlined {
            position: absolute;
        }    
    }
}